<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.3.1" targetFramework="net35" requireReinstallation="True" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net35" requireReinstallation="True" />
  <package id="IPNetwork2" version="2.4.0.147" targetFramework="net461" />
  <package id="SystemInteract" version="1.0.1-cibuild0011" targetFramework="net461" />
</packages>